header{
  background-color: #0A2855;
  color: white;
  width: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;

  .header-main{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-toggle{
    margin: 3px 0 0 25px;
  }

  .header-menu {
    margin: 0 0 8px 25px;
  }

  .header-logo{
    margin: 5px 15px;
    width: 125px;
    color:white;
  }

  .header-language {
    @media(max-width: 768px) {
      display: none;
    }
    cursor: pointer;
    margin: 0 25px 0 0 ;
  }

  .header-language {
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

  .header-magnifier {
    margin: 7px 0 0 0;
  }
}

svg{
  fill: #ffffff;
}

svg:hover{
  cursor: pointer;
  fill: #40C1AC;
  g {
    rect{
      fill: #40C1AC;
    }
  }
}

