body{
  color: #0A2855;
  background-color: white;
  font-weight: 400;


  .chevron::before {
    border-style: solid;
    border-width: 0.07em 0.07em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }

  .chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  @media (max-width: 768px){
    .chevron{
      display: flex;
      justify-content: space-around;
      margin: 3px 0 0 0;
    }
    .mobile-hr {
      border-top: 1px solid rgba(65,68,122,0.15);
    }
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(65,68,122,1);
  }

  .header-menu-top {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .header-menu-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-contact{
      color:#40C1AC;
    }

  }

  .header-menu-bottom-adress{
    display: flex;
    justify-content: space-between;
  }

  .social {
    align-self: center;
    margin-bottom: .5rem;

    ul{
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      li{

        .logo-in {
          fill: #40C1AC;
          object-fit: contain;
          object-position: center;
          height: 25px;
          width: 25px;
        }
      }

    }
  }

  .lang-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 0 10px 10px 0;
        font-size: 16px;
        line-height: 22px;
        color: #8493AA;
      }

      @media(max-width: 768px) {
        &:after {
          content: ' | ';
          color: rgba(132, 147, 170, 0.85);
        }
      }


      @media(min-width: 768px) {
        &:after {
          content: ' | ';
          color: rgba(132, 147, 170, 0.85);
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        a {
          padding: 10px;
        }
      }
    }

    @media(min-width: 768px) {
      display: flex;
      justify-content: center;
    }

  }

  .header-menu {
/*    margin: 0 0 8px 25px;*/
  }

  .header-menu-main {

    @media (max-width: 768px) {
      .hide-on-mobile{
        display: none;
      }

      .lang-list {
        &:before {
          content: ' | ';
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &-email{
        &:before{
          content: ' | ';
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &-direction {
      margin: 15px 0;
      align: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: normal;
      color: #8493AA;
      text-transform: uppercase;
    }

    &-contact{
      alignment: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: 200;
      color: #69FAE2;
    }

    &-title {
      /*font-weight: 600;*/
      margin: 15px 0 25px 0;
      font-size: 24px;
      line-height: 29px;

      @media (max-width: 768px) {
        cursor: pointer;
        max-width: 90%;
        margin: 10px 0 0 20px;
        font-size: 20px;
        line-height: 25px;
      }
    }

    .block-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      line-height: 24px;

      li {
        margin: 15px 0;
        a {
          color: #0A2855;
          font-size: 17px;
          line-height: 24px;

          &:before {
            content: '/';
            margin-right: 5px;
          }
        }
      }
    }

    &-contact{
      alignment: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: 200;
      color: #40C1AC;
    }
  }


}
