body{
  background-image: url("../assets/backgrounds/fondo-home-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 1399px) {
    background-size: cover;
    background-position: 70% 50%;
  }

  @media (max-width: 1199px) {
    background-size: cover;
    background-position: 65% 50%;
  }

  @media (max-width: 991px) {
    background-size: cover;
    background-position: 65% 50%;
  }

  @media (max-width: 768px) {
    background-image:url("../assets/backgrounds/fondo-home-mobile-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 70%;
  }

  header{
    background-color: transparent;
    display: inline-block;
    .icons{
      float: right;
      margin: 20px 20px 0 0;
    }
  }

  .uria-logo-container {
    margin: 80px 0 0 25px;
  }

  .title-container{
    display: inline-block;
    width: 68%;
    height: auto;
    margin: 30px 0 0 21px;

  }
  .title{
    color: white;
    text-align: left;
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
  }

  .cta-container{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 95px 0 0 30px;
  }
  .cta-title{
    color: white;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }

  .cta-link{
    display: inline-block;

    color: #69FAE2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 17px;

  &:after{
    content: url("../assets/blue-arrow.svg");
    color: #69FAE2;
    margin: 25px 0 0 15px;
    vertical-align: sub;
  }

  }

}
