footer{
  color:white;
  background-color: #0A2855;
  font-weight: lighter;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(65,68,122,1);
  }

  .footer-top {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;

    .social {
      align-self: center;
      ul{
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li{
          .logo-in {
            object-fit: contain;
            object-position: center;
            height: 25px;
            width: 25px;
          }
        }

      }
    }
  }

  .footer-main {

    @media (max-width: 768px) {
    /*  .hide-on-mobile{
        display: none;
      }*/

      &-email{
        &:before{
          content: ' | ';
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    &-direction {
      margin: 15px 0;
      align: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: lighter;
      color: #8493AA;
      text-transform: uppercase;
    }

    &-title {
      font-weight: lighter;
      margin: 15px 0;
      font-size: 19px;
    }

    .block-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      line-height: 24px;

      li {
        margin: 15px 0;
        a {
          color: #ffffff;
          font-size: 17px;
          line-height: 24px;

          &:before {
            content: '/';
            margin-right: 5px;
          }
        }
      }
    }

    &-contact{
      alignment: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: 200;
      color: #69FAE2;
    }

  }

  .footer-bottom {

    .disclaimer {
      display: block;
      font-size: 14px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.5);

      @media(min-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    .legal-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 0 10px 10px 0;
          font-size: 16px;
          line-height: 22px;
          color: #ffffff;
        }

        @media(min-width: 768px) {
          &:after {
            content: ' | ';
            color: rgba(255, 255, 255, 0.5);
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

          a {
            padding: 10px;
          }
        }
      }

      @media(min-width: 768px) {
        display: flex;
        justify-content: center;
      }

    }

  }

}
