.dropdown-toggle{
  background-color: transparent;
  color: #ffffff;
  border: none;

  &:focus,
  &:hover{
    outline: none;
    color: #40C1AC;
  }
}

.dropdown-menu[style] {
  position: absolute !important;
  top: 0px !important;
  left: -10px !important;
  will-change: transform;
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  & li{
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
  }

  & li:hover{
    background-color: rgba(105, 250, 226, 0.2);
    text-decoration: none;
  }
}

.dropdown-menu{
  position: absolute;
  top: 100%;
  left: -7px;
  z-index: 1000;
  display: none;
  min-width: 3.5rem;
  /* padding: .2rem 0; */
  margin: .125rem 0 0;
  font-size: 1rem;
  text-align: center;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px -9px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px -9px rgba(0,0,0,1);
}

li a{
  color: #0A2855;

  &:hover{
    color: #40C1AC;
    text-decoration: none;
  }
}

